@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Open Sans", serif;
}

header {
    width: 100%;
    height: 90vh;
    background: navy;
    position: relative;
}

nav {
    float: right;
    padding: 8px;
    box-sizing: border-box;
}

li {
    padding: 8px;
    color: white;
    float: left;
    cursor: pointer;
}

li:hover {
    color: yellow;
}

h1 {
    clear: both;
    font-size: 5em;
    font-weight: bold;
    color: yellow;
    margin-top: 250px;
    margin-left: 16px;
}

.title {
    color: aquamarine;
}

#hero {
    color: lightpink;
    position: absolute;
    margin: 0;
    top: 200px;
    left: 32px;
    z-index: 5;
}

#caption {
    position: absolute;
    margin: 0;
    top: 280px;
    left: 32px;
    z-index: 5;
}

.button {
    width: 200px;
    padding: 8px 16px;
    border-radius: 8px;
    background: yellow;
    margin-left: 16px;
    margin-top: 8px;
    position: absolute;
    margin: 0;
    top: 320px;
    left: 32px;
    z-index: 5;
}

.heroimage {
    position: absolute;
    top: 50px;
    left: 420px;
    z-index: 1;
}

h3 {
    color: lightgray;
    padding: 1px 2px 3px 4px;
    margin-left: 16px;
    font-size: 32px;
    /*Absolute size*/
}

div>h3 {
    color: black;
    text-align: center;
    margin: 0;
}

div,
p,
h1,
h2,
h3,
h4,
h5 {
    box-sizing: border-box;
}


.clearfix {
    clear: both;
}


main {
    padding: 80px 80px;
}

main>article {
    background: lightgrey;
    float: left;
    width: 30%;
    padding-bottom: 16px;
    border-radius: 8px;
    border: 1px solid lightslategrey;
    overflow: hidden;
    margin-right: 5%;
    box-sizing: border-box;
}

.last-article {
    margin-right: 0%;
}

main>article>img {
    width: 100%;
}

main>article>h3 {
    color: black;
    font-weight: bold;
    margin: 0;
    padding: 8px 16px;
}

main>article>p {
    padding: 0 16px;
}

.tab-container {
    width: 100%;
    padding: 80px;
    background-color: lightgray;
}

.wrapper {
    margin: 0 auto;
    width: fit-content;
}

.tab {
    display: inline-block;
    width: 100px;
    padding: 16px;
    background: white;
    border-radius: 8px;
}

.tab p {
    text-align: center;
}


#content-container {
    padding: 80px;
    background: white;
}

.box {
    position: relative;
    background: brown;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
}

.circle1 {
    position: absolute;
    top: 200px;
    left: 200px;
    height: 200px;
    width: 200px;
    background: rgb(209, 179, 179);
    border-radius: 50%;
    transition: all 1s ease-in-out;
    z-index: 2;
}

.circle2 {
    position: absolute;
    bottom: 200px;
    right: 200px;
    height: 200px;
    width: 200px;
    background: rgb(179, 203, 209);
    border-radius: 50%;
    transition: all 1s ease-in-out;
    z-index: 3;
}

.box:hover .circle1 {
    border-radius: 0;
    width: 300px;
    height: 300px;
    top: 0;
    left: 0;
}


.box:hover .circle2 {
    border-radius: 0;
    width: 300px;
    height: 300px;
    bottom: 0;
    right: 0;
}

footer {
    background: darkslategray;
    padding: 80px;
    box-sizing: border-box;
}

footer>article {
    width: 25%;
    float: left;
    box-sizing: border-box;
}

footer>article>img {
    width: 100%;
    height: auto;
}

footer li {
    float: none;
}